.app-wrapper::before {
    background-color: #232324 ;
}

.app-wrapper-main.app-wrapper {
    background-color: #232324;
}

.message-out {
    background-color: rgb(165, 210, 255);
}

.pane-chat-body, .pane-chat-footer {
    background-color: rgb(228, 228, 228);
    hidden: true;
}

.message-in:before, .message-out:before {
    width: 0px;
}
